@media screen and (max-width: 768px){
    body{
        display: grid;
        grid-template-rows: auto;
        grid-template-areas: 
        "header"
        "main"
        "main"
        "main"
        "footer";
        width: 100%;

    header{
        padding: 2rem;
        margin-bottom: 1rem;
        
    footer{
        padding: 2rem;
        margin-top: 1rem;
    }
    }
    }
}
 

    



