@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0%;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: rgba(251, 252, 255, 0.8);
  background-image: url("/assets/images/guitarfondo.png");
  opacity: 20;
  background-size: cover;
}

header {
  background-color: rgba(8, 8, 8, 0.526);
  height: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navtexto {
  text-align: center;
}

header .navtexto :hover {
  -webkit-box-shadow: 1px 1px 3px gray;
          box-shadow: 1px 1px 3px gray;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
  padding: 22px;
}

.cajademarcas {
  background-color: rgba(243, 234, 234, 0.4);
  width: 100%;
  height: 200px;
}

.cajademarcas :hover {
  -webkit-box-shadow: 1px 0.5px rgba(8, 8, 8, 0.526);
          box-shadow: 1px 0.5px rgba(8, 8, 8, 0.526);
}

.productos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-left: 3%;
  padding-bottom: 50px;
}

.bordes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5%;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
}

.cajauser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer {
  background-color: rgba(8, 8, 8, 0.526);
  text-align: right;
  margin-top: 45px;
}

footer .footertexto {
  color: rgba(251, 252, 255, 0.8);
  font-size: 14px;
}

.videotest {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0px;
  margin: 5%;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 20px;
  margin-left: 10px;
}

.spotify {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  padding: 0px;
  margin: 20px;
}

.cajadetextocarca {
  background-color: rgba(8, 8, 8, 0.526);
  color: #b0b0b1;
  padding: 20px;
  margin-left: 10px;
}

.cajadetextomarilinabertoldi {
  background-color: rgba(8, 8, 8, 0.526);
  color: #b0b0b1;
  padding: 20px;
  margin-left: 10px;
}

.cajadetextolosespiritus {
  background-color: rgba(8, 8, 8, 0.526);
  color: #b0b0b1;
  padding: 20px;
  margin-left: 10px;
}

.cajadetextomalosetti {
  background-color: rgba(8, 8, 8, 0.526);
  color: #b0b0b1;
  padding: 20px;
  margin-left: 10px;
}

.carca {
  display: -ms-grid;
  display: grid;
  border: solid 1px;
  color: #7a7e83;
  border-radius: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}

.marilinabertoldi {
  display: -ms-grid;
  display: grid;
  border: solid 1px;
  color: #7a7e83;
  border-radius: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}

.losespiritus {
  display: -ms-grid;
  display: grid;
  border: solid 1px;
  color: #7a7e83;
  border-radius: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}

.malosetti {
  display: -ms-grid;
  display: grid;
  border: solid 1px;
  color: #7a7e83;
  border-radius: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0%;
  padding: 0%;
}

.cajarickenbacker {
  padding-bottom: 20px;
  padding-left: 15px;
}

h1 {
  color: rgba(251, 252, 255, 0.8);
  font-size: 28px;
  font-weight: 350;
  padding: 20px;
  text-align: center;
}

h2 {
  color: rgba(251, 252, 255, 0.8);
  font-size: 20px;
  padding: 14px;
}

h3 {
  color: rgba(251, 252, 255, 0.8);
  font-size: 15px;
  padding: 8px;
}

h4 {
  color: rgba(251, 252, 255, 0.8);
  font-size: 13px;
}

a {
  color: rgba(251, 252, 255, 0.8);
  text-decoration: none;
}

.cadetblue {
  color: cadetblue;
  font-weight: bolder;
}

.texto_ofertas {
  color: indianred;
}

#darkolivegreen {
  color: darkolivegreen;
}

.formulario {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 350px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 500px;
}

@media screen and (max-width: 768px) {
  .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */